<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.qa.ecommerce.tests.LoginPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getcurrenturltest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>dologintest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getloginpagetiletest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isforgotpaswordlinkexisttest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
