<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d1ad8e">  <td>22/03/06 23:57:23</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup()[pri:0, instance:com.qa.ecommerce.tests.LoginPageTest@a1153bc]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2009221452</td>   <td></td> </tr>
<tr bgcolor="769576">  <td>22/03/06 23:57:32</td>   <td>8546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.getloginpagetiletest()[pri:1, instance:com.qa.ecommerce.tests.LoginPageTest@a1153bc]">getloginpagetiletest</td> 
  <td>main@2009221452</td>   <td></td> </tr>
<tr bgcolor="769576">  <td>22/03/06 23:57:32</td>   <td>8834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.getcurrenturltest()[pri:2, instance:com.qa.ecommerce.tests.LoginPageTest@a1153bc]">getcurrenturltest</td> 
  <td>main@2009221452</td>   <td></td> </tr>
<tr bgcolor="769576">  <td>22/03/06 23:57:32</td>   <td>8854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.isforgotpaswordlinkexisttest()[pri:3, instance:com.qa.ecommerce.tests.LoginPageTest@a1153bc]">isforgotpaswordlinkexisttest</td> 
  <td>main@2009221452</td>   <td></td> </tr>
<tr bgcolor="769576">  <td>22/03/06 23:57:32</td>   <td>8953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.dologintest()[pri:4, instance:com.qa.ecommerce.tests.LoginPageTest@a1153bc]">dologintest</td> 
  <td>main@2009221452</td>   <td></td> </tr>
<tr bgcolor="d1ad8e">  <td>22/03/06 23:57:36</td>   <td>12627</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.teardown()[pri:0, instance:com.qa.ecommerce.tests.LoginPageTest@a1153bc]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2009221452</td>   <td></td> </tr>
</table>
